.paginator {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  font-size: 1.8rem;
  margin: 1rem;

  &__page {
    align-self: center;
  }

  &__arrow {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    display: inline-flex;
    background: transparent;
    border: none;
    fill: $color-tertiary;

    &:focus {
      outline: none;
    }

    &--left {
      margin-left: 2rem;
    }
  }

  &__limit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.4rem;

    &--info {
      display: flex;
      align-items: center;
      margin-left: 1rem;

      & > span {
        margin-right: 0.5rem;
      }
    }

    &--options {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      z-index: 1000;
      cursor: pointer;
      border: 1px solid $color-tertiary;
      border-radius: 0.3rem;
      margin-left: 0.8rem;
      background-color: lighten($color-tertiary, 50%);

      & > span {
        padding: 0.5rem;
        border: none;
        &:hover {
          background-color: lighten($color-tertiary, 60%);
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }
}
