.comment {
  border: 1px solid $color-gray;

  &__header {
    padding: 1.5rem;
    background-color: $color-gray;
    font-size: 1.6rem;
  }

  &__inputs {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 45px;
    grid-gap: 10px;
  }

  &__body {
    max-height: 20rem;
    overflow-y: scroll;
    padding: 0 1.5rem;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    @include scrollbars(0.5rem, $color-grayDark, #fff);
  }

  &__body:last-child {
    margin-bottom: 1.5rem;
  }

  &__add-comment {
    margin-bottom: 1.2rem;
  }

  &__comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid $color-gray;
    margin-top: 0.3rem;
    padding: 1rem 0.5rem;
    border-radius: 2px;

    &--description-box {
      font-size: 1.4rem;
      width: 100%;
      display: grid;
      grid-template-columns: 5fr 2rem;
      grid-gap: 1rem;
    }

    &--description {
    }

    &--buttons {
    }

    &--credentials {
      margin-top: 0.5rem;
      color: $color-grayDarkest;
      font-size: 1.2rem;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 1rem;
    }
  }
}
