//COLORS
$color-main: #eb3b5a;
$color-mainLight: #fc5c65;
$color-secondary: #f7b731;
$color-secondaryLight: #fed330;
$color-tertiary: #4b6584;
$color-tertiaryLight: #778ca3;

$color-blue: #2d98da;
$color-blueLight: #45aaf2;
$color-green: #20bf6b;
$color-greenLight: #26de81;
$color-gray: #eee;
$color-grayDark:#c6d2e0;
$color-grayDarkest: #6c747d;