.c-button {
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__primary {
    border: 2px solid $color-tertiaryLight;
    background-color: $color-tertiary;
    color: #fff;

    &:hover {
      background-color: lighten($color-tertiary, 10%);
    }
  }

  &__success {
    border: 2px solid $color-greenLight;
    background-color: $color-green;
    color: #fff;

    &:hover {
      background-color: lighten($color-green, 10%);
    }
  }
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
