.c-button {
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__primary {
    border: 2px solid $color-tertiaryLight;
    background-color: $color-tertiary;
    color: #fff;

    &:hover {
      background-color: lighten($color-tertiary, 10%);
    }

    &--disabled {
      background-color: darken($color: $color-tertiary, $amount: 30);
    }
  }

  &__success {
    border: 2px solid $color-greenLight;
    background-color: $color-green;
    color: #fff;

    &:hover {
      background-color: lighten($color-green, 10%);
    }
  }

  &__danger {
    border: 2px solid $color-mainLight;
    background-color: $color-main;
    color: #fff;

    &:hover {
      background-color: lighten($color-main, 10%);
    }
  }

  &__main {
    border: 2px solid $color-yellow;
    background-color: $color-yellow;
    color: #fff;

    &:hover {
      background-color: lighten($color-yellow, 10%);
    }
  }
}

.disabled {
  &__success {
    background-color: lighten($color: $color-green, $amount: 10);
    cursor: default;
  }

  &__primary {
    background-color: lighten($color: $color-tertiary, $amount: 10);
    cursor: default;
  }

  &__danger {
    background-color: lighten($color: $color-main, $amount: 10);
    cursor: default;
  }

  &__main {
    background-color: lighten($color: $color-yellow, $amount: 10);
    cursor: default;
  }
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
