.c-button {
  padding: 0.7rem 1rem;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__primary {
    border: 2px solid $color-tertiaryLight;
    background-color: $color-tertiary;
    color: #fff;

    &:hover {
      background-color: lighten($color-tertiary, 10%);
    }
  }
}
