.card {
  margin-top: 2rem;

  &__header {
    padding: 1rem 2rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: auto;
    background-color: $color-grayDark;
    display: grid;
    grid-gap: auto;
    grid-template-columns: 1fr minmax(15rem, 15rem);
    align-items: center;

    &--text {
      color: $color-dark;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  &__body {
    padding: 2rem;
    border-left: 1px solid $color-grayDark;
    border-right: 1px solid $color-grayDark;
    border-bottom: 1px solid $color-grayDark;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
